body {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.header {
  background-image: url("../../resources/images/the-flatiron-building.png");
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 70px;
}

a {
  font-size: 18px;
  color: white;
}

a.active {
  color: white;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
